@model ViewModel.StudentsViewModel
@using Code;
@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>
<script>
    function GetCitiesByStateId() {
        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
        });
    }

    $(function () {
        $("#DOB").datepicker({
            dateFormat: "dd M yy", maxDate: "-4Y",
            changeMonth: true,
            changeYear: true,
            inline: true,
        });
        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
            $("#CityId").find("option").each(function () {
                if ($(this).val() == "@Model.CityId") {
                    $(this).attr("selected", "selected");
                }
            });
        });
    });


    function RedirectToHome() {
        window.location.href = ('@Url.Action("AllStudents", "Student")');
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
<!-- start container -->
<div class="container">

    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("AddStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="successvalidation">
                        @ViewBag.Success
                    </div>
                }
                else
                {
                    @ViewBag.Error
                }
                @Html.ValidationSummary(false)
            </div>
            <h3>Add Student</h3>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span> Name :</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "input" })
                @Html.HiddenFor(x => x.UniqueKey)
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span> DOB :</label>
                @Html.TextBox("DOB", Model.DOB == null ? "" : Model.DOB.Value.ToString("dd MMM yyyy"), new { @class = "input", @readonly = "readonly" })

            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span> Contact Number 1 :</label>
                @Html.TextBoxFor(x => x.Contact1, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "20" })
            </div>

            <div class="row">
                <label for="Password">Contact Number 2 :</label>
                @Html.TextBoxFor(x => x.Contact2, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "20" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span> Email ID :</label>
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "input" })
            </div>

            <div class="row">
                <label for="Password"><span style="color: red;">*</span> State :</label>
                @Html.DropDownListFor(x => x.StateId, new ListBound(Model.StateId, "States").States, "-- Select State --", new { onchange = "javascript:GetCitiesByStateId();", @class = "select" })

            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span> City :</label>
                @Html.DropDownListFor(x => x.CityId, Enumerable.Empty<SelectListItem>(), new { @class = "select" })
            </div>

            <div class="row">
                <label for="Password"><span style="color: red;">*</span> Address :</label>
                @Html.TextAreaFor(x => x.Address, new { @class = "textarea" })
            </div>

            <div class="row">
                <label for="Password"><span style="color: red;">*</span> Guardian Name :</label>
                @Html.TextBoxFor(x => x.GuardianName, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span> Occupation :</label>
                @Html.TextBoxFor(x => x.Occupation, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password">Has Transport Facility :</label>
                <div class="column">
                    @Html.RadioButtonFor(x => x.HasTransportFacility, true, new { @class = "radio" })
                    <label for="male">Yes</label>
                    @Html.RadioButtonFor(x => x.HasTransportFacility, false, new { @class = "radio" })
                    <label for="female">No</label>
                </div>
            </div>
            <div class="row">
                <label for="IsActive">Is Active</label>
                <div class="column">
                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "checkbox" })
                </div>
            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn gap" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>
        }
    </div>
</div>
