@model ViewModel.StudentEntrollmentViewModel
@using Code;
@{
    ViewBag.Title = "EntrollStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<PaymentMode> modeid = Enum.GetValues(typeof(PaymentMode))
                                                  .Cast<PaymentMode>();
    IEnumerable<SelectListItem> pmode = from u in modeid
                                        select new SelectListItem
                                        {
                                            Text = u.ToString(),
                                            Value = ((int)u).ToString()
                                        };
}
<style>
    td {
        border: 1px solid;
        text-align: center;
        padding: 2px;
    }
</style>
<!-- start container -->
<div class="container">
    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("EntrollStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.StudentId)
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="successvalidation">
                        @ViewBag.Success
                    </div>
                }
                else
                {
                    @ViewBag.Error
                }
                <div>@Html.ValidationSummary(false)</div>
            </div>
            <h3>Enrollment of Student</h3>
            <div class="row">
                <label for="Password">Enrollment No :</label>
                <input id="UniqueKey" type="text" class="input" />
                <a href="#" id="btnGet" onclick="javascript: GetStudentDetails();">Get Details</a>
            </div>
            <div class="row">
                <table id="showstudent" style="display: none;border:1px solid;">
                    <tr style="background-color:gray;">
                        <td>Name</td>
                        <td>DOB</td>
                        <td>Contact</td>
                        <td>Email</td>
                        <td>Address</td>
                        <td>Guardian</td>
                        <td>Occupation</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="lblName"></div>
                        </td>
                        <td>
                            <div id="DOB"></div>
                        </td>
                        <td>
                            <div id="ContactNumber"></div>
                        </td>
                        <td>
                            <div id="EmailID"></div>
                        </td>
                        <td>
                            <div id="Address"></div>
                        </td>
                        <td>
                            <div id="GuardianName"></div>
                        </td>
                        <td>
                            <div id="Occupation"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <label for="Password">Discipline :</label>
                @Html.DropDownListFor(x => x.DisciplineId, new ListBound(Model.DisciplineId, "Disciplines").Disciplines, "-- Select Discipline --", new { @class = "select" })
            </div>
            <div class="row">
                <label for="Password">Assign batch :</label>
                @Html.Action("Listbatches")

            </div>
            <div class="row">
                <table id="showclassdet" style="display: none;border: 1px solid;">
                    <tr style="background-color:gray;">
                        <td>Faculty Name</td>
                        <td>Student Limit</td>
                        <td>Student Registerd</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="lblNameOfFaculty"></div>
                        </td>
                        <td>
                            <div id="lblStudentLimit"></div>
                        </td>
                        <td>
                            <div id="lblStudentRegister"></div>
                        </td>
                        <td>
                            <div id="lblStartDate"></div>
                        </td>
                        <td>
                            <div id="lblEndDate"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <label for="Password">Course Amount :</label>
                @Html.TextBoxFor(x => x.CourseAmount, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "12" })

            </div>
            <div class="row">
                <label for="Password">Registration Amount :</label>
                @Html.TextBoxFor(x => x.RegistratonAmount, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "12" })

            </div>
            <div class="row">
                <label for="Password">Amount Paid :</label>
                @Html.TextBoxFor(x => x.AmountPaid, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "12" })

            </div>
            <div class="row">
                <label for="Password">Paynent Mode :</label>
                @Html.DropDownListFor(x => x.PaymentMode, pmode, "-- Select Mode --", new { @class = "select" })

            </div>
            <div class="row">
                <label for="Password">Bank Name:</label>
                @Html.TextBoxFor(x => x.BankName, new { @class = "input", })

            </div>
            <div class="row">
                <label for="Password">Tranaaction No:</label>
                @Html.TextBoxFor(x => x.PaymentMode, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password">Start Date :</label>
                @Html.TextBoxFor(x => x.SatrtDate, new { @class = "input", @readonly = "readonly" })

            </div>
            <div class="row">
                <label for="Password">No Of Classes :</label>
                @Html.TextBoxFor(x => x.NoOfClasses, new { @class = "input", onchange = "GetRemainingClassesDetails()" })
            </div>

            <div class="row">
                <label for="Password">End Date :</label>
                @Html.TextBoxFor(x => x.EndDate, new { @class = "input", @readonly = "readonly" })

            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn" style="display:none" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>

        }
    </div>
</div>

<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>

<script>

    $(document).ready(function () {
        $("#SatrtDate").datepicker({ dateFormat: "dd M yy", minDate: "-10d", maxDate: "10d" });
    });



    function RedirectToHome() {
        window.location.href = ('@Url.Action("AllStudents", "Student")');
    }
    function GetStudentDetails() {
        var uniqueid = $("#UniqueKey").val();
        if (uniqueid == '') {
            alert('Please enter Enrollment No.');
            return false;
        }
        else {
            $.post('@Url.Action("GetStudentByUniqueId", "Student")', { UniqueId: uniqueid }, function (data) {
                if (data.StudentId > 0) {
                    $("#lblName").text(data.Name);
                    var finalDate = ConvertDate(data.DOB);
                    $("#DOB").text(finalDate);
                    $("#ContactNumber").text(data.Contact1);
                    $("#EmailID").text(data.EmailAddress);
                    $("#Address").text(data.Address);
                    $("#GuardianName").text(data.GuardianName);
                    $("#Occupation").text(data.Occupation);
                    $("#StudentId").val(data.StudentId);
                    $("#showstudent").show();
                }
                else {
                    alert('No Record Found');
                }
            });
        }
    }

    function ConvertDate(dat) {
        var parsedDate = new Date(parseInt(dat.substr(6)));
        var d = new Date(parsedDate); //Date object
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var finalDate = +d.getDate() + " " + months[(d.getMonth() + 1) - 1] + " " + d.getFullYear();
        return finalDate;
    }


    function GetRemainingClassesDetails() {

        var batches = $('input[name="BatchIds"]:checked').map(function () {
            return this.value;
        }).get();

        if (batches.length <= 0) {
            alert("Please select batch");
            return false;
        }

        $.post('@Url.Action("GetClassEndDate", "Student")', { startdate: $("#SatrtDate").val(), NoofClass: $("#NoOfClasses").val(), batchids: batches.join() }, function (data) {
            if (data != null) {
                var result = JSON.parse(data);
                $("#EndDate").val(ConvertDate(result[0].EndDate));
                $("#btnSubmit").show();
            }
        });
    }
    function ConvertDate(dat) {
        var parsedDate = new Date(parseInt(dat.substr(6)));
        var d = new Date(parsedDate); //Date object
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var finalDate = +d.getDate() + " " + months[(d.getMonth() + 1) - 1] + " " + d.getFullYear();
        return finalDate;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>