@model ViewModel.StudentEntrollmentViewModel
@using Code;
@{
    ViewBag.Title = "EntrollStudent";
    Layout = null;//"~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/JS/jquery-1.11.1.js"></script>

<script>

    function GetStudentDetails() {
        var uniqueid = $("#UniqueKey").val();
        $.post('@Url.Action("GetStudentByUniqueId", "Student")', { UniqueId: uniqueid }, function (data) {
            if (data.StudentId > 0) {
                $("#lblName").text(data.Name);
                var finalDate = ConvertDate(data.DOB);
                $("#DOB").text(finalDate);
                $("#ContactNumber").text(data.Contact1);
                $("#EmailID").text(data.EmailAddress);
                $("#Address").text(data.Address);
                $("#GuardianName").text(data.GuardianName);
                $("#Occupation").text(data.Occupation);
                $("#StudentId").val(data.StudentId);
                $("#showstudent").show();
            }
        });
    }

    function ConvertDate(dat) {
        var parsedDate = new Date(parseInt(dat.substr(6)));
        var d = new Date(parsedDate); //Date object
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var finalDate = +d.getDate() + " " + months[(d.getMonth() + 1) - 1] + " " + d.getFullYear();
        return finalDate;
    }

    function GetClassesByDisciplineId() {
        $.post('@Url.Action("GetClassByDisciplineId", "Student")', { DisciplineId: $("#DisciplineId").val() }, function (cities) {
            $("#ClassId").html('');
            $("#ClassId").append('<option value="">-- Select Class --</option>');
            $.each(cities, function (i, Class) {
                $("#ClassId").append('<option value="' + Class.ClassId + '">' +
                     Class.ClassName + '</option>');
                // here we are adding option for States

            });
        });
    }

    function ShowClassDetails() {
        $.post('@Url.Action("GetClassByClassId", "Student")', { ClassId: $("#ClassId").val() }, function (data) {
            if (data.ClassId > 0) {
                $("#showclassdet").show();
                $("#lblNameOfFaculty").text(data.ClassName);
                $("#lblStudentLimit").text(data.StudentLimit);
                $("#lblStartDate").text(ConvertDate(data.StartDate));
                $("#lblEndDate").text(ConvertDate(data.EndDate));
            }
        });
    }

</script>
<!-- start container -->
<div class="container">
    <div >
        @Html.ValidationSummary(false)
    </div>
    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("EntrollStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.StudentId)
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    @ViewBag.Success
                }
                else
                {
                    @ViewBag.Error
                }
            </div>
            <h3>Enrollment of Student</h3>
            <div class="row">
                <label for="Password">Student ID :</label>
                <input id="UniqueKey" type="text" class="input" />
                <a href="#" id="btnGet" onclick="javascript: GetStudentDetails();">Get Details</a>
            </div>
            <table id="showstudent" style="display: none;">
                <tr>
                    <td>Name</td>
                    <td>DOB</td>
                    <td>Contact Number</td>
                    <td>Email ID</td>
                    <td>Address</td>
                    <td>Guardian Name</td>
                    <td>Occupation</td>
                </tr>
                <tr>
                    <td>
                        <div id="lblName"></div>
                    </td>
                    <td>
                        <div id="DOB"></div>
                    </td>
                    <td>
                        <div id="ContactNumber"></div>
                    </td>
                    <td>
                        <div id="EmailID"></div>
                    </td>
                    <td>
                        <div id="Address"></div>
                    </td>
                    <td>
                        <div id="GuardianName"></div>
                    </td>
                    <td>
                        <div id="Occupation"></div>
                    </td>
                </tr>
            </table>
           
            <div class="row">
                <label for="Password">Discipline :</label>
                @Html.DropDownListFor(x => x.DisciplineId, new ListBound(Model.DisciplineId, "Disciplines").Disciplines, "-- Select Discipline --", new { onchange = "javascript:GetClassesByDisciplineId();", @class = "select" })
                @Html.ValidationMessageFor(x => x.DisciplineId)
            </div>
            <div class="row">
                <label for="Password">Class Name :</label>
                @Html.DropDownListFor(x => x.ClassId, Enumerable.Empty<SelectListItem>(), new { @class = "select", onchange = "javascript:ShowClassDetails();" })
                @Html.ValidationMessageFor(x => x.ClassId)
                
            </div>
            <table id="showclassdet" style="display: none;">
                <tr>
                    <td>Faculty Name</td>
                    <td>Student Limit</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                </tr>
                <tr>
                    <td>
                        <div id="lblNameOfFaculty"></div>
                    </td>
                    <td>
                        <div id="lblStudentLimit"></div>
                    </td>
                    <td>
                        <div id="lblStartDate"></div>
                    </td>
                    <td>
                        <div id="lblEndDate"></div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <label for="Password">Course Amount :</label>
                @Html.TextBoxFor(x => x.CourseAmount, new { @class = "input" })
                @Html.ValidationMessageFor(x => x.CourseAmount)
            </div>
            <div class="row">
                <label for="Password">Registration Amount :</label>
                @Html.TextBoxFor(x => x.RegistratonAmount, new { @class = "input" })
                @Html.ValidationMessageFor(x => x.RegistratonAmount)
            </div>

            <div class="row">
                <label for="Password">No Of Classes :</label>
                @Html.TextBoxFor(x => x.NoOfClasses, new { @class = "input" })
                @Html.ValidationMessageFor(x => x.NoOfClasses)
            </div>
            <div class="row">
                <label for="Password">Amount Paid :</label>
                @Html.TextBoxFor(x => x.AmountPaid, new { @class = "input" })
                @Html.ValidationMessageFor(x => x.AmountPaid)
            </div>
            <div class="row">
                <label for="Password">Start Date :</label>
                @Html.TextBoxFor(x => x.SatrtDate, new { @class = "input" })
                @Html.ValidationMessageFor(x => x.SatrtDate)
            </div>
            <div class="row">
                <label for="Password">End Date :</label>
                @Html.TextBoxFor(x => x.EndDate, new { @class = "input" })
                @Html.ValidationMessageFor(x => x.EndDate)
            </div>

            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn" />
            </div>
        }
    </div>
</div>

