@model ViewModel.StudentEntrollmentViewModel
@using Code;
@{
    ViewBag.Title = "EntrollStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Content/JS/jquery-1.11.1.js"></script>*@
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>

<script>
    function GetStudentDetails() {
        var uniqueid = $("#UniqueKey").val();
        if (uniqueid == '') {
            alert('Please enter UniqueId');
            return false;
        }
        else {
            $.post('@Url.Action("GetStudentByUniqueId", "Student")', { UniqueId: uniqueid }, function (data) {
                if (data.StudentId > 0) {
                    $("#lblName").text(data.Name);
                    var finalDate = ConvertDate(data.DOB);
                    $("#DOB").text(finalDate);
                    $("#ContactNumber").text(data.Contact1);
                    $("#EmailID").text(data.EmailAddress);
                    $("#Address").text(data.Address);
                    $("#GuardianName").text(data.GuardianName);
                    $("#Occupation").text(data.Occupation);
                    $("#StudentId").val(data.StudentId);
                    $("#showstudent").show();
                }
                else {
                    alert('No Record Found');
                }
            });
        }
    }

    function ConvertDate(dat) {
        var parsedDate = new Date(parseInt(dat.substr(6)));
        var d = new Date(parsedDate); //Date object
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var finalDate = +d.getDate() + " " + months[(d.getMonth() + 1) - 1] + " " + d.getFullYear();
        return finalDate;
    }

    function GetClassesByDisciplineId() {
        $.post('@Url.Action("GetClassByDisciplineId", "Student")', { DisciplineId: $("#DisciplineId").val() }, function (cities) {
            $("#ClassId").html('');
            $("#ClassId").append('<option value="">-- Select Class --</option>');
            $.each(cities, function (i, Class) {
                $("#ClassId").append('<option value="' + Class.ClassId + '">' +
                     Class.ClassName + '</option>');
                // here we are adding option for States

            });
        });
    }

    function ShowClassDetails() {
        $.post('@Url.Action("GetClassByClassId", "Student")', { ClassId: $("#ClassId").val() }, function (data) {
            if (data.ClassId > 0) {
                $("#showclassdet").show();
                $("#lblNameOfFaculty").text(data.FaculityName);
                $("#lblStudentLimit").text(data.StudentLimit);
                $("#lblStartDate").text(ConvertDate(data.StartDate));
                $("#lblEndDate").text(ConvertDate(data.EndDate));
                $("#lblStudentRegister").text(data.NoOfStudent);
            }
        });
    }


    function GetRemainingClassesDetails() {

        $.post('@Url.Action("GetRemainingClassesDetails", "Student")', { classid: $("#ClassId").val(), startdate: $("#SatrtDate").val(), NoofClass: $("#NoOfClasses").val() }, function (data) {
            if (data != null) {
                var result = JSON.parse(data);
                if (result[0].AlloedClasses == 'undefined') {
                    alert("TEst");
                    return false;
                }
                if ($("#NoOfClasses").val() > result[0].AlloedClasses) {
                    $("#NoOfClasses").focus();
                    $("#btnSubmit").hide();
                    alert("You can not assign more then " + result[0].AlloedClasses + " classes.");
                }
                else {
                    $("#EndDate").val(ConvertDate(result[0].EndDate));
                    $("#btnSubmit").show();
                }
            }
        });
    }
    function ConvertDate(dat) {
        var parsedDate = new Date(parseInt(dat.substr(6)));
        var d = new Date(parsedDate); //Date object
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var finalDate = +d.getDate() + " " + months[(d.getMonth() + 1) - 1] + " " + d.getFullYear();
        return finalDate;
    }

</script>
<style>
    td {
        border: 1px solid;
        text-align: center;
        padding: 2px;
    }
</style>
<!-- start container -->
<div class="container">
    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("EntrollStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.StudentId)
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="successvalidation">
                        @ViewBag.Success
                    </div>
                }
                else
                {
                    @ViewBag.Error
                }
                <div>@Html.ValidationSummary(false)</div>
            </div>
            <h3>Enrollment of Student</h3>
            <div class="row">
                <label for="Password">Student ID :</label>
                <input id="UniqueKey" type="text" class="input" />
                <a href="#" id="btnGet" onclick="javascript: GetStudentDetails();">Get Details</a>
            </div>
            <div class="row">
                <table id="showstudent" style="display: none;border:1px solid;">
                    <tr style="background-color:gray;">
                        <td>Name</td>
                        <td>DOB</td>
                        <td>Contact</td>
                        <td>Email</td>
                        <td>Address</td>
                        <td>Guardian</td>
                        <td>Occupation</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="lblName"></div>
                        </td>
                        <td>
                            <div id="DOB"></div>
                        </td>
                        <td>
                            <div id="ContactNumber"></div>
                        </td>
                        <td>
                            <div id="EmailID"></div>
                        </td>
                        <td>
                            <div id="Address"></div>
                        </td>
                        <td>
                            <div id="GuardianName"></div>
                        </td>
                        <td>
                            <div id="Occupation"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <label for="Password">Discipline :</label>
                @Html.DropDownListFor(x => x.DisciplineId, new ListBound(Model.DisciplineId, "Disciplines").Disciplines, "-- Select Discipline --", new { onchange = "javascript:GetClassesByDisciplineId();", @class = "select" })
                @Html.ValidationMessageFor(x => x.DisciplineId)
            </div>
            <div class="row">
                <label for="Password">Class Name :</label>
                @Html.DropDownListFor(x => x.ClassId, Enumerable.Empty<SelectListItem>(), new { @class = "select", onchange = "javascript:ShowClassDetails();" })
                @Html.ValidationMessageFor(x => x.ClassId)

            </div>
            <div class="row">
                <table id="showclassdet" style="display: none;border: 1px solid;">
                    <tr style="background-color:gray;">
                        <td>Faculty Name</td>
                        <td>Student Limit</td>
                        <td>Student Registerd</td>
                        <td>Start Date</td>
                        <td>End Date</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="lblNameOfFaculty"></div>
                        </td>
                        <td>
                            <div id="lblStudentLimit"></div>
                        </td>
                        <td>
                            <div id="lblStudentRegister"></div>
                        </td>
                        <td>
                            <div id="lblStartDate"></div>
                        </td>
                        <td>
                            <div id="lblEndDate"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <label for="Password">Course Amount :</label>
                @Html.TextBoxFor(x => x.CourseAmount, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password">Registration Amount :</label>
                @Html.TextBoxFor(x => x.RegistratonAmount, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password">Amount Paid :</label>
                @Html.TextBoxFor(x => x.AmountPaid, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password">Start Date :</label>
                @Html.TextBoxFor(x => x.SatrtDate, new { @class = "input" })

            </div>
            <div class="row">
                <label for="Password">No Of Classes :</label>
                @Html.TextBoxFor(x => x.NoOfClasses, new { @class = "input", onchange = "GetRemainingClassesDetails()" })
            </div>

            <div class="row">
                <label for="Password">End Date :</label>
                @Html.TextBoxFor(x => x.EndDate, new { @class = "input", @readonly = "readonly" })

            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>

        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#SatrtDate").datepicker({ dateFormat: "dd M yy", minDate: "-15d" });
    });
    function RedirectToHome() {
        window.location.href = ('@Url.Action("AllStudents", "Student")');
    }
</script>