@model  ViewModel.StudentAttendenceViewModel
@using Code;
@{
    ViewBag.Title = "Make Attendence";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IEnumerable<AttendenceStatus> statusid = Enum.GetValues(typeof(AttendenceStatus))
                                                         .Cast<AttendenceStatus>();

    Dictionary<string, string> status = new Dictionary<string, string>();

    foreach(var v in statusid)
    {
        status.Add(v.ToString(), ((int)v).ToString());
    }
   
}
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>

<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        @if (!string.IsNullOrEmpty(ViewBag.Success))
        {
            <div class="successvalidation">
                @ViewBag.Success
            </div>
        }
        else
        {
            @ViewBag.Error
        }
        <div style="padding-top:10px;">
        </div>

        <p style="font-weight:bold;padding:5px; text-align:center">
            Date Of Attendence :
            @Html.TextBox("DateOfAttendence", Model.DateOfAttendence.Value.ToString("dd MMM yyyy"), new { @class = "input", @readonly = "readonly", onchange = "UpdatebatchTimming()" })
        </p>

        <p style="font-weight:bold;padding:5px; text-align:center">

            @Html.DropDownListFor(x => x.disciplaneid, new SelectList(Model.Disciplines, "DisciplineId", "Discipline", Model.disciplaneid), "-- Select Discipline", new { @class = "select" })

            @Html.DropDownListFor(x => x.BatchId, new SelectList(Model.Batches, "BatchId", "Timming", Model.BatchId), "-- Select Batch")

            <input type="button" class="submit-btn" value="Get Students" onclick="GetStudent()" />
        </p>



        <div style="padding-left:30%; width: 40%">
            @using (Html.BeginForm())
            {
                @*@Html.Hidden("DateOfAttendence", @Model.DateOfAttendence.Value)*@
                @Html.Hidden("BatchId", @Model.BatchId)
                @Html.Hidden("DisciplaneId", @Model.disciplaneid)
                <table cellpadding="0" cellspacing="0" class="table">
                    <tr bgcolor="#ccc">
                        <td class="td">Student Name</td>
                        <td class="td">Attendance</td>
                    </tr>
                    @foreach (var s in Model.students)
                    {
                        <tr>
                            <td class="td">
                                @s.Name
                            </td>
                            <td class="td">
                                @Html.DropDownList("attendenceStatus", (typeof(AttendenceStatus).SelectList<Code.AttendenceStatus>(true)), "-- Select --", new { @class = "select", @onchange = "PutAttendence(this," + @s.StudentId + "," + @s.EnrollmentId + ")" })
                                @*@Html.DropDownList("attendenceStatus", new SelectList(status, "Value","Key","2"), "-- Select --", new { @class = "select", @onchange = "PutAttendence(this," + @s.StudentId + "," + @s.EnrollmentId + ")" })*@
                            </td>
                        </tr>
                    }
                    @if (Model.students.Count() == 0)
                    {
                        <tr>
                            <td colspan="2" style="text-align:center">
                                No student assigned to selected batch.
                            </td>
                        </tr>
                    }
                </table>

                if (Model.students.Count() > 0)
                {
                    <input type="submit" value="Save" class="submit-btn" />
                }
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#DateOfAttendence").datepicker({
        dateFormat: "dd M yy", maxDate: "+0d", minDate: "-15d"
    });

    function PutAttendence(attendenceStatus, studentId, enrollmentId) {
        var BatchId = $("#BatchId").val();
        var status = $(attendenceStatus).val();
        var disciplaneId = $("#DisciplaneId").val()
        $.get('@Url.Action("CollectAttendence", "Student")?batchId=' + BatchId + "&studentId=" + studentId + "&Status=" + status + "&EnrollmentId=" + enrollmentId + "&disciplaneid=" + disciplaneId, function (data) {
        });


    }
    function GetStudent() {
        var disId = $("#disciplaneid").val();
        var batchId = $("#BatchId").val()
        var attendenceDate = $("#DateOfAttendence").val();
        window.location = "http://" + window.location.host + "/student/MakeAttendence" + "?displaneId=" + disId + "&batchId=" + batchId + "&DateOfAttendence=" + attendenceDate
    }

    function UpdatebatchTimming() {

        var Date = $("#DateOfAttendence").val();
        $.get("@Url.Action("GetbatchTimming", "Student")?DateOfAttendence=" + Date, function (data) {
            $("#BatchId").html('');
            $("#BatchId").append('<option value="">-- Select Batch --</option>');
            $.each(data, function (i, data) {
                $("#BatchId").append('<option value="' + data.BatchId + '">' +
                     data.Timming + '</option>');

            });

        });


    }


</script>
<style>
    .submit-btn {
        margin-top: 10px;
        background: none repeat scroll 0 0 #ff9903;
        border: medium none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        height: 39px;
        line-height: 39px;
        margin-left: 23px;
        position: relative;
        width: 115px;
    }
</style>