@model ViewModel.StudentRenewalViewModel
@using Code;
@{
    ViewBag.Title = "Student Renewal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function GetStudentDetails() {
        var uniqueid = $("#UniqueKey").val();
        $.post('@Url.Action("GetStudentsByEnrollmentId", "Student")', { EnrollmentId: uniqueid }, function (data) {
            alert(data.StudentId);
            if (data.StudentId > 0) {
                $("#lblName").text(data.Name);
                var finalDate = ConvertDate(data.DOB);
                $("#DOB").text(finalDate);
                $("#ContactNumber").text(data.Contact1);
                $("#EmailID").text(data.EmailAddress);
                $("#Address").text(data.Address);
                $("#GuardianName").text(data.GuardianName);
                $("#Occupation").text(data.Occupation);
                $("#StudentId").val(data.StudentId);
                $("#showstudent").show();
            }
            else {
                alert('No Record Found');
            }
        });
    }
    function RedirectToHome() {
        window.location.href = ('@Url.Action("AllStudents", "Student")');
    }
</script>
<div class="container">
    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("RenewalStudent", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.StudentId)
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    @ViewBag.Success
                }
                else
                {
                    @ViewBag.Error
                }
                <div>@Html.ValidationSummary(false)</div>
            </div>
            <h3>Renewal of Student</h3>
            <div class="row">
                <label for="Password">Enrollment Id :</label>
                <input id="UniqueKey" type="text" class="input" />
                <a href="#" id="btnGet" onclick="javascript: GetStudentDetails();">Get Details</a>
            </div>
            <div class="row">
                <table id="showstudent" style="display: none;border:1px solid;">
                    <tr style="background-color:gray;">
                        <td>Name</td>
                        <td>DOB</td>
                        <td>Contact</td>
                        <td>Email</td>
                        <td>Address</td>
                        <td>Guardian</td>
                        <td>Occupation</td>
                    </tr>
                    <tr>
                        <td>
                            <div id="lblName"></div>
                        </td>
                        <td>
                            <div id="DOB"></div>
                        </td>
                        <td>
                            <div id="ContactNumber"></div>
                        </td>
                        <td>
                            <div id="EmailID"></div>
                        </td>
                        <td>
                            <div id="Address"></div>
                        </td>
                        <td>
                            <div id="GuardianName"></div>
                        </td>
                        <td>
                            <div id="Occupation"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <label for="Password">Action By :</label>
                @Html.DropDownListFor(x => x.FacultyId, new ListBound(Model.FacultyId, "Faculties").Faculties, "-- Select Faculty --", new { @class = "select" })
            </div>
            <div class="row">
                <label for="Password">Description :</label>
                @Html.TextAreaFor(x => x.Description, new { @class = "textarea" })
            </div>
            <div class="row">
                <label for="Password">Remarks :</label>
                @Html.TextAreaFor(x => x.Remark, new { @class = "textarea" })

            </div>
            <div class="row">
                <label for="Password">Status :</label>
                @Html.TextBoxFor(x => x.Status, new { @class = "input" })

            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>

        }
    </div>
</div>
