@model IEnumerable<Models.StudentRenewal>
@using Code
    @{
        ViewBag.Title = "Renewal Student List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script>
        function AddNew() {
            window.location.href = '@Url.Action("RenewalStudent","Student")';
        }
        function Search() {
            var va = $("input[type='text'][name='searchtext']").val();
            window.location.href = '@Url.Action("RenewalStudentList", "Student")?search=' + va;
        }
    </script>
    <div class="container">
        <!-- table-info -->
        <div class="table-info">
            <!-- start table-form -->
            <div class="table-form">
                <form action="#">
                    <input type="text" name="searchtext" placeholder="Search" value="@ViewBag.Search" class="input" />
                    <input name="submit" type="button" onclick="Search()" value="Search" class="submit-btn" />
                    <label for="From">&nbsp;</label>
                    <input name="submit" type="button" onclick="AddNew()" value="Add New" class="submit-btn" />
                </form>
            </div>
            <!-- end table-form -->
            <!-- start table -->

            <div style="float:left;width:100%">
                <table cellpadding="0" cellspacing="0" class="table">
                    <!-- start row -->
                    <tr bgcolor="#ccc">
                        <td class="td">Enrollment ID</td>
                        <td class="td">Name</td>
                        <td class="td">AddDate</td>
                        <td class="td">Faculty</td>
                        <td class="td">Description</td>
                        <td class="td">Remark</td>
                        <td class="td">Status</td>
                        <td class="td">Action</td>
                    </tr>
                    <!-- end row -->
                    @foreach (var v in Model)
                    {
                    <!-- start row -->
                        <tr>
                            <td class="td">@v.EnrollmentId</td>
                            <td class="td">@v.Name</td>
                            <td class="td">@string.Format("{0:dd MMM yyyy}", v.AddDate)</td>
                            <td class="td">@v.Faculty</td>
                            <td class="td">@v.Description</td>
                            <td class="td">@v.Remark</td>                            
                            <td class="td">@(((Status)Enum.Parse(typeof(Status), v.Status.ToString())).Desciption())</td>
                            <td class="td">
                                <a href="@Url.Action("RenewalStudent", "Student", new { renewalId = v.RenewalId })" title="Edit">Edit</a>
                            </td>
                        </tr>

                    <!-- end row -->
                    }
                    @{if (Model.Count() == 0)
                    {
                        <tr class="row">
                            <td class="td" style="text-align: center">No record found.</td>
                        </tr>
                    }}
                </table>
            </div>
        </div>
        <!-- end table -->
    </div>