@model List<Models.ClassDetails>
@{
    ViewBag.Title = "Class Details List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<script>
    function AddNew() {
        window.location.href = '@Url.Action("ClassDetails", "Class")';
    }
</script>
<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
            <form action="#">
                <input type="text" name="Search" value="" placeholder="Search" class="input" />
                <input type="submit" value="Search" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <input type="button" value="Export" onclick="Export()" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <input name="submit" type="button" onclick="AddNew()" value="Add New" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->
        <div style="float: left; width: 100%">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Class Name</td>
                    <td class="td">Discipline</td>
                    <td class="td">Faculty</td>
                    <td class="td">Students Limit</td>
                    <td class="td">Created Date</td>
                    <td class="td">Start Date</td>
                    <td class="td">End Date</td>
                    <td class="td">Is Active</td>
                    <td class="td">Action</td>
                </tr>
                <!-- end row -->
                @foreach (var v in Model)
                {
                    <!-- start row -->
                    <tr>
                        <td class="td">@v.ClassName</td>
                        <td class="td">@v.DisciplaneName</td>
                        <td class="td">@v.FaculityName</td>
                        <td class="td">@v.StudentLimit</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.AddDate)</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.StartDate)</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.EndDate)</td>
                        <td class="td">@v.IsActive</td>
                        <td class="td">
                            <a href="@Url.Action("CreateClassTimming", "Class", new { ClassId = v.ClassId })" title="Edit">Timming</a>
                          @*| <a href="@Url.Action("ClassDetails", "Class", new { ClassId = v.ClassId })" title="Edit">Edit</a>*@
                        </td>
                    </tr>
                    <!-- end row -->
                }
                @{if (Model.Count() == 0)
                {
                    <tr class="row">
                        <td class="td" style="text-align: center">No record found.</td>
                    </tr>

                }}
            </table>
        </div>
        <!-- end table -->
    </div>
</div>
<script>
    function Export() {
        window.location.href = '@Url.Action("ExportToExcel", "Class")';
    }
</script>