@using Code;
@model IEnumerable<Models.Expenses>
@{
    ViewBag.Title = "ExpenseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function AddNew() {
        window.location.href = '@Url.Action("AddExpenses", "Budget")';
    }
</script>
<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
            <form action="#">
                @Html.DropDownList("month", (typeof(Months).SelectList<Months>(true)), "-- Month --", new { @class = "input" })
                @*<input type="text" name="Search" value="@ViewBag.Search" placeholder="Search" class="input" />*@
                @Html.DropDownList("SelectedFinancialyear", new SelectList(ViewBag.FinancialYears), "-- Financial Year --", new { @class = "input" })
                <input type="submit" value="Search" class="submit-btn" />
                @*<label for="From">&nbsp;</label>
                    <input type="button" value="Export" onclick="Export()" class="submit-btn" />*@
                <label for="From">&nbsp;</label>
                <input name="submit" type="button" onclick="AddNew()" value="Add New" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->
        <div style="float: left; width: 100%">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Budget Assign</td>
                    <td class="td">Expense Amount</td>
                    <td class="td">Expense For</td>
                    <td class="td">Description</td>
                    <td class="td">Date Of Expense</td>
                    <td class="td">Action</td>

                </tr>
                <!-- end row -->
                @foreach (var v in Model)
                {
                    <!-- start row -->
                    var color = (v.BudgetAmount < v.ExpenseAmount) ? "Red" : "";
                    <tr style="background-color:@color">
                        <td class="td">@String.Format("{0:0.##}", v.BudgetAmount)</td>
                        <td class="td">@String.Format("{0:0.##}", v.ExpenseAmount)</td>
                        <td class="td">@v.ExpenseForName</td>
                        <td class="td">@v.Description</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.DateOfExpense)</td>
                        <td class="td">
                            @{ var days = (DateTime.Now - v.DateOfExpense.Value).TotalDays;}
                            @if (days <= 20)
                            {
                                <a href="@Url.Action("AddExpenses", "Budget", new { ExpenseID = v.ExpenseID })" title="Edit">Edit</a>
                            }
                        </td>
                    </tr>
                    <!-- end row -->
                }
                @{if (Model.Count() == 0)
                {
                    <tr class="row">
                        <td class="td" style="text-align: center">No record found.</td>
                    </tr>

                }}
            </table>
            <br />
            @{
                var budget = Math.Round(Model.Sum(x => x.BudgetAmount), 0);
                var Expense = Math.Round(Model.Sum(x => x.ExpenseAmount), 0);
            }
            
            <div style="text-align: right;font-weight:bold; border:1px solid;padding-right:10px; ">
               Total Budget  =   @budget   <br /> Total Expense  =  @Expense
            </div>
            
            @Html.Partial("_Paging")

        </div>
        <!-- end table -->
    </div>
</div>
<script>
    function Export() {
        window.location.href = '@Url.Action("ExportToExcel", "Class")';
    }
</script>

