@model ViewModel.TargetManagementViewModel
@using Code;
@using System.Data;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        .CSSTableGenerator {
            margin: 0px;
            padding: 0px;
            width: 100%;
            box-shadow: 10px 10px 5px #888888;
            border: 1px solid #000000;
            -moz-border-radius-bottomleft: 0px;
            -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
            -moz-border-radius-bottomright: 0px;
            -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
            -moz-border-radius-topright: 0px;
            -webkit-border-top-right-radius: 0px;
            border-top-right-radius: 0px;
            -moz-border-radius-topleft: 0px;
            -webkit-border-top-left-radius: 0px;
            border-top-left-radius: 0px;
        }

            .CSSTableGenerator table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
            }

            .CSSTableGenerator tr:last-child td:last-child {
                -moz-border-radius-bottomright: 0px;
                -webkit-border-bottom-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            .CSSTableGenerator table tr:first-child td:first-child {
                -moz-border-radius-topleft: 0px;
                -webkit-border-top-left-radius: 0px;
                border-top-left-radius: 0px;
            }

            .CSSTableGenerator table tr:first-child td:last-child {
                -moz-border-radius-topright: 0px;
                -webkit-border-top-right-radius: 0px;
                border-top-right-radius: 0px;
            }

            .CSSTableGenerator tr:last-child td:first-child {
                -moz-border-radius-bottomleft: 0px;
                -webkit-border-bottom-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .CSSTableGenerator tr:hover td {
            }

            .CSSTableGenerator tr:nth-child(odd) {
                background-color: #ffaa56;
            }

            .CSSTableGenerator tr:nth-child(even) {
                background-color: #ffffff;
            }

            .CSSTableGenerator td {
                vertical-align: middle;
                border: 1px solid #000000;
                border-width: 0px 1px 1px 0px;
                text-align: left;
                padding: 7px;
                font-size: 10px;
                font-family: Arial;
                font-weight: normal;
                color: #000000;
            }

            .CSSTableGenerator tr:last-child td {
                border-width: 0px 1px 0px 0px;
            }

            .CSSTableGenerator tr td:last-child {
                border-width: 0px 0px 1px 0px;
            }

            .CSSTableGenerator tr:last-child td:last-child {
                border-width: 0px 0px 0px 0px;
            }

            .CSSTableGenerator tr:first-child td {
                background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
                background: -moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
                background: -o-linear-gradient(top,#ff7f00,bf5f00);
                background-color: #ff7f00;
                border: 0px solid #000000;
                text-align: center;
                border-width: 0px 0px 1px 1px;
                font-size: 14px;
                font-family: Arial;
                font-weight: bold;
                color: #ffffff;
            }

            .CSSTableGenerator tr:first-child:hover td {
                background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
                background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
                background: -moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
                background: -o-linear-gradient(top,#ff7f00,bf5f00);
                background-color: #ff7f00;
            }

            .CSSTableGenerator tr:first-child td:first-child {
                border-width: 0px 0px 1px 0px;
            }

            .CSSTableGenerator tr:first-child td:last-child {
                border-width: 0px 0px 1px 1px;
            }
    </style>
</head>
<body>
    <div class="CSSTableGenerator">
        @if ((int)ViewBag.TargetType == (int)TargetType.TE)
        {
            <table style="border:1px solid;">
                <tr>
                    <td>Enquery Id</td>
                    <td>Name</td>
                    <td>Disciplane</td>
                    <td>Contact</td>
                    <td>Amount</td>
                    <td>Date of Enquery</td>
                </tr>
                @foreach (DataRow v in Model.ds.Tables[0].Rows)
                {
                    <tr>
                        <td>@v["EnquiryNumber"]</td>
                        <td>@v["Name"]</td>
                        <td>@v["Discipline"]</td>
                        <td>@v["ContactNumber"]</td>
                        <td>@Math.Round((decimal)v["Amount"], 0)</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v["DateOfEnquiry"])</td>
                    </tr>
                }

            </table>
        }

        @if ((int)ViewBag.TargetType == (int)TargetType.PE)
        {
            <table style="border:1px solid;">
                <tr>
                    <td>Enquery Id</td>
                    <td>Name</td>
                    <td>Disciplane</td>
                    <td>Contact</td>
                    <td>Amount</td>
                    <td>Date of Enquery</td>
                </tr>
                @foreach (DataRow v in Model.ds.Tables[0].Rows)
                {
                    <tr>
                        <td>@v["EnquiryNumber"]</td>
                        <td>@v["Name"]</td>
                        <td>@v["Discipline"]</td>
                        <td>@v["ContactNumber"]</td>
                        <td>@Math.Round((decimal)v["Amount"], 0)</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v["DateOfEnquiry"])</td>
                    </tr>
                }

            </table>
        }

        @if ((int)ViewBag.TargetType == (int)TargetType.Renewal)
        {
            <table style="border:1px solid;">
                <tr>
                    <td>Enrollment No</td>
                    <td>Name</td>
                    <td>Amount</td>
                </tr>
                @foreach (DataRow v in Model.ds.Tables[0].Rows)
                {
                    <tr>
                        <td>@v["EnrollmentNo"]</td>
                        <td>@v["Name"]</td>
                        <td>@Math.Round((decimal)v["Amount"], 0)</td>
                    </tr>
                }

            </table>
        }


    </div>
</body>
</html>
