@model ViewModel.CentresViewModel
@using Code;
@{
    ViewBag.Title = "Centre Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>
<style type='text/css'>
    ui-icon ui-icon-circle-triangle-e {
        z-index: 9999 !important;
        position: absolute;
    }
</style>

<script>
    function GetCitiesByStateId() {
        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
        });
    }
    $(function () {
        $("#CentreOpenDate").datepicker({ dateFormat: "dd M yy", minDate: "-1m" });

        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
            $("#CityId").find("option").each(function () {
                if ($(this).val() == "@Model.CityId") {
                    $(this).attr("selected", "selected");
                }
            });
        });


    });

    function RedirectToHome() {
        window.location.href = ('@Url.Action("CentreList", "Main")');
    }

</script>

<div class="container">

    <!-- registration-form -->
    <div class="registration-form">
        <h3 style="">Create New Center</h3>
        @using (Html.BeginForm("CentreRegistration", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    @ViewBag.Success
                }
                else
                {
                    @ViewBag.Error
                }
                <div>@Html.ValidationSummary(false)</div>
            </div>
            @Html.HiddenFor(x => x.CentreId)
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Center Name :</label>
                @Html.TextBoxFor(x => x.CentreName, new { @class = "input" })
            </div>

            <div class="row">
                <label for="Password"><span style="color: red;">*</span>State :</label>
                @Html.DropDownListFor(x => x.StateId, new ListBound(Model.StateId, "States").States, "-- Select State --", new { onchange = "javascript:GetCitiesByStateId();", @class = "select" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>City :</label>
                @Html.DropDownListFor(x => x.CityId, Enumerable.Empty<SelectListItem>(), new { @class = "select" })

            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Address :</label>
                @Html.TextAreaFor(x => x.Address, new { @class = "textarea" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Open Date :</label>
                @Html.TextBoxFor(x => x.CentreOpenDate, new { @class = "input" })
            </div>
            <div class="row">
                <label for="IsActive">Is Active</label>
                <div class="column">
                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "checkbox" })
                    @*<input type="checkbox" id="IsActive" class="checkbox" />*@
                </div>
            </div>
            <div class="rowbutton">

                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn gap" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>

        }

    </div>
</div>
