@model ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start container -->
<div class="container">
    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("ChangePassword", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    @ViewBag.Success
                }
                else
                {
                    @ViewBag.Error
                }
                <div>@Html.ValidationSummary(false)</div>
            </div>
            <h3>Change Password</h3>
            <div class="row">
                <label for="Password">*Current Password:</label>
                @Html.PasswordFor(x => x.Password, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password">*New Password:</label>
                @Html.PasswordFor(x => x.NewPassword, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password">*Confirm Password:</label>
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input" })
            </div>
            <div class="rowbutton">
                <input type="submit" id="btnChange" value="Change" class="submit-btn" />
            </div>
        }
    </div>
    <!-- registration-form -->
</div>
<!-- end container -->

