@model ViewModel.UsersViewModel
@using Code;
@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<UserRole> userrole = Enum.GetValues(typeof(UserRole))
                                                       .Cast<UserRole>();
    IEnumerable<SelectListItem> roles = from u in userrole
                                        select new SelectListItem
                                        {
                                            Text = u.Desciption(),
                                            Value = ((int)u).ToString()
                                        };
    if (SessionWrapper.User.RoleId == (int)UserRole.SuperAdmin)
    {
        roles = roles.Where(x => Convert.ToInt32(x.Value) < (int)UserRole.SuperAdmin);
    }
    else
    {
        roles = roles.Where(x => Convert.ToInt32(x.Value) < (int)UserRole.Admin);
    }
}
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>
<script>

    function GetCitiesByStateId() {
        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
        });
    }

    function RedirectToHome() {
        window.location.href = ('@Url.Action("UserList", "Main")');
    }

    $(function () {
        $("#DOB").datepicker({
            dateFormat: "dd M yy", maxDate: "-15y",
            changeMonth: true,
            changeYear: true,
            inline: true,
        });
        $("#DOJ").datepicker({ dateFormat: "dd M yy",maxDate: "1d" });

        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
            $("#CityId").find("option").each(function () {
                if ($(this).val() == "@Model.CityId") {
                    $(this).attr("selected", "selected");
                }
            });
        });
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

<!-- start container -->
<div class="container">

    <!-- registration-form -->
    <div class="registration-form">

        <h3>Add User</h3>
        @using (Html.BeginForm("UserRegistration", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="successvalidation">
                        @ViewBag.Success
                    </div>
                }
                else
                {
                    <div>@Html.ValidationSummary(false)</div>
                }

            </div>
            @Html.HiddenFor(x => x.UserId)
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>First Name :</label>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Last Name :</label>
                @Html.TextBoxFor(x => x.LastName, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>DOB :</label>
                @Html.TextBox("DOB", Model.DOB == null ? "" : Model.DOB.Value.ToString("dd MMM yyyy"), new { @class = "input", @readonly = "readonly" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>DOJ :</label>
                @Html.TextBox("DOJ", Model.DOJ == null ? "" : Model.DOJ.Value.ToString("dd MMM yyyy"), new { @class = "input", @readonly = "readonly" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Contact Number :</label>
                @Html.TextBoxFor(x => x.ContactNumber, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "20" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Email ID :</label>
                @Html.TextBoxFor(x => x.EmailID, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Salary :</label>
                @Html.TextBoxFor(x => x.Salary, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "20" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Role ID :</label>
                @Html.DropDownListFor(x => x.RoleId, roles, "-- Select Role --", new { @class = "select" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>User Name :</label>
                @Html.TextBoxFor(x => x.UserName, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Password :</label>
                @Html.PasswordFor(x => x.Password, new { @class = "input" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>State :</label>
                @Html.DropDownListFor(x => x.StateId, new ListBound(Model.StateId, "States").States, "-- Select State --", new { onchange = "javascript:GetCitiesByStateId();", @class = "select" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>City :</label>
                @Html.DropDownListFor(x => x.CityId, Enumerable.Empty<SelectListItem>(), new { @class = "select" })
            </div>
            <div class="row">
                <label for="Password"><span style="color: red;">*</span>Address :</label>
                @Html.TextAreaFor(x => x.Address, new { @class = "textarea" })
            </div>
            <div class="row">
                <label for="IsActive">Is Active</label>
                <div class="column">
                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "checkbox" })
                </div>
            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn gap" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>

        }

    </div>
</div>
