@model List<Models.Users>
@{
    ViewBag.Title = "Centre List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form" style="float:right; text-align:right !important">
            <form action="#">
                <input type="text" name="Search" placeholder="Search" value="" class="input" />

                <input type="submit" name="field" value="Search" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <a href="@Url.Action("UserRegistration", "Main")" class="submit-btn">Add New</a>
                <label for="From">&nbsp;</label>
                <input name="submit" type="button" onclick="Export()" value="Export" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->
        <div class="table">
            <!-- start row -->
            <div class="row-first">
                <div class="td">Name</div>
                <div class="td">UserName</div>
                <div class="td">State</div>
                <div class="td">City</div>
                <div class="td">Address</div>
                <div class="td">Date of Birth</div>
                <div class="td">Date of Join</div>
                <div class="td">Email</div>
                <div class="td">Contact No</div>
                <div class="td">Action</div>
            </div>
            <!-- end row -->
            @foreach (var v in Model)
            {
                <!-- start row -->
                <div class="row">
                    <div class="td">@v.FirstName</div>
                    <div class="td">@v.UserName</div>
                    <div class="td">@v.StateName</div>
                    <div class="td">@v.CityName</div>
                    <div class="td">@v.Address</div>
                    <div class="td">@string.Format("{0:dd MMM yyyy}", v.DOB)</div>
                    <div class="td">@string.Format("{0:dd MMM yyyy}", v.DOJ)</div>
                    <div class="td">@v.EmailID</div>
                    <div class="td">@v.ContactNumber</div>
                    <div class="td edit"><a href="@Url.Action("UserRegistration", "Main", new { UserId = v.UserId })" title="Edit"><span>Edit</span></a></div>
                </div>
                <!-- end row -->
            }
            @{if (Model.Count() == 0)
            {
                <div class="row">
                    <div class="td" style="text-align: center">No record found.</div>
                </div>

            }}

        </div>
        <!-- end table -->
    </div>
</div>

<script type="text/javascript">
    function Export() {
        window.location.href = '@Url.Action("ExportUserList", "Main")';
    }
</script>


