@model IEnumerable<Models.Enquiries>
@using Code;
@{
    ViewBag.Title = "PhysicalEnquiryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function AddNew() {
        window.location.href = '@Url.Action("PhysicalEnquiry", "Enquiries")';
    }
</script>
<!-- start container -->
<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
            <form action="#">
                <input type="text" name="search" value="@ViewBag.Search" class="input" />
                <input type="submit" value="Search" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <input type="button" value="Export" onclick="Export()" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <input name="submit" type="button" onclick="AddNew()" value="Add New" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->
        <div style="float: left; width: 100%">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Enquery Id</td>
                    <td class="td">Name</td>
                    <td class="td">Source</td>
                    <td class="td">Discipline</td>
                    <td class="td">Visit Date</td>
                    <td class="td">Attended By</td>
                    <td class="td">Contact</td>
                    <td class="td">prob. stu.</td>
                    <td class="td">Gender</td>
                    <td class="td">Age</td>
                    <td class="td">Classes</td>
                    <td class="td">Package</td>
                    <td class="td">Demo</td>
                    <td class="td">Faculty</td>
                    <td class="td">Faculity Remarks</td>
                    <td class="td">Final Remarks</td>
                    <td class="td">Updated on</td>
                    <td class="td">Status</td>
                    <td class="td">Action</td>
                </tr>
                <!-- end row -->
                @foreach (var v in Model)
                {
                    <!-- start row -->
                    <tr>
                        <td class="td">@v.EnquiryNumber</td>
                        <td class="td">@v.Name</td>
                        <td class="td">@v.SourceName</td>
                        <td class="td">@v.DisciplaneName</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.DateOfEnquiry)</td>
                        <td class="td">@v.AttendedByUser</td>
                        <td class="td">@v.ContactNumber</td>
                        <td class="td">@(((EnquiryFor)Enum.Parse(typeof(EnquiryFor), v.ProbableStudentFor.ToString())).Desciption())</td>
                        <td class="td">@(((Gender)Enum.Parse(typeof(Gender), v.Gender.ToString())).Desciption())</td>
                        <td class="td">@v.Age</td>
                        <td class="td">@v.NoOfClasses</td>
                        <td class="td">@v.Package</td>
                        <td class="td">@v.Demo</td>
                        <td class="td">@v.FacultyName</td>
                        <td class="td">@v.RemarksByFaculty</td>
                        <td class="td">@v.FinalComments</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.ModifyDate)</td>
                        @{
                    var backgroundColor = "";
                    if (((Status)Enum.Parse(typeof(Status), v.StatusId.ToString())).Desciption() == "Red")
                    {
                        backgroundColor = "Red";
                    }
                    else if (((Status)Enum.Parse(typeof(Status), v.StatusId.ToString())).Desciption() == "Green")
                    {
                        backgroundColor = "Green";
                    }
                    else
                    {
                        backgroundColor = "Yellow";
                    }
                        }
                        <td style="background-color:@backgroundColor" class="td">@(((Status)Enum.Parse(typeof(Status), v.StatusId.ToString())).Desciption())</td>
                        <td class="td">
                            @if (v.ModifyBy != 1 || SessionWrapper.User.UserId == 1)
                            {
                                <a href="@Url.Action("PhysicalEnquiry", "Enquiries", new { enquiryId = v.EnquiryId })" title="Edit"><span>Edit</span></a>
                            }
                        </td>
                    </tr>
                    <!-- end row -->
                }
                @{if (Model.Count() == 0)
                {
                    <tr class="row">
                        <td class="td" style="text-align: center">No record found.</td>
                    </tr>

                }}
            </table>
            @Html.Partial("_Paging")

        </div>
        <!-- end table -->
    </div>
</div>
<script type="text/javascript">
    function Export() {
        window.location.href = '@Url.Action("ExportPhysicalEnq", "Enquiries")';
    }
</script>
