@model ViewModel.EnquiryViewModel
@using Code;
@{
    ViewBag.Title = "PhysicalEnquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Status> statusid = Enum.GetValues(typeof(Status))
                                                      .Cast<Status>();
    IEnumerable<SelectListItem> status = from u in statusid
                                         select new SelectListItem
                                         {
                                             Text = u.ToString(),
                                             Value = ((int)u).ToString()
                                         };

    IEnumerable<EnquiryFor> studentfor = Enum.GetValues(typeof(EnquiryFor))
                 .Cast<EnquiryFor>();
    IEnumerable<SelectListItem> probablefor = from u in studentfor
                                              select new SelectListItem
                                              {
                                                  Text = u.ToString(),
                                                  Value = ((int)u).ToString()
                                              };

    IEnumerable<Gender> gender = Enum.GetValues(typeof(Gender))
.Cast<Gender>();
    IEnumerable<SelectListItem> gendermf = from u in gender
                                           select new SelectListItem
                                           {
                                               Text = u.ToString(),
                                               Value = ((int)u).ToString()
                                           };
}
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Content/js/jquery-ui.js"></script>
<script>
    function GetCitiesByStateId() {
        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
        });
    }

    $(function () {
        $("#DateOfEnquiry").datepicker({ dateFormat: "dd M yy", minDate: "-1w" });
        $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: $("#StateId").val() }, function (cities) {
            $("#CityId").html('');
            $("#CityId").append('<option value="">-- Select City --</option>');
            $.each(cities, function (i, City) {
                $("#CityId").append('<option value="' + City.CityId + '">' +
                     City.CityName + '</option>');
                // here we are adding option for States

            });
            $("#CityId").find("option").each(function () {
                if ($(this).val() == "@Model.CityId") {
                    $(this).attr("selected", "selected");
                }
            });
        });


    });

    function RedirectToHome() {
        window.location.href = ('@Url.Action("PhysicalEnquiryList", "Enquiries")');
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function DemoChange(demo) {
        if (demo == 1) {
            $("#demoid").show();
        }
        else {
            $("#demoid").hide();
            
        }
    }

    function PEChange(PE) {
        if (PE == 1) {
            $("#peid").show();
        }
        else {
            $("#TelephonicEnquiryId").val('');
            $("#peid").hide();
        }
    }

    function PopulateTelephonicEnquiry() {
        var TelephonicEnquiryId = $("#TelephonicEnquiryId").val();
        if (TelephonicEnquiryId == '') {
            alert('Please enter TE ID');
            return false;
        }
        $.post('@Url.Action("GetEnquiryByEnquiryNumber", "Enquiries")', { EnquiryNumber: TelephonicEnquiryId }, function (data) {
            if (data.EnquiryId > 0) {

                $("#SourceId").val(data.SourceId);
                $("#ContactNumber").val(data.ContactNumber);
                $("#Name").val(data.Name);
                $("#Discipline").val(data.Discipline);
                $("#StateId").val(data.StateId);
                $.post('@Url.Action("GetCitiesByStateId", "Main")', { StateId: data.StateId }, function (cities) {
                    $("#CityId").html('');
                    $("#CityId").append('<option value="">-- Select City --</option>');
                    $.each(cities, function (i, City) {
                        $("#CityId").append('<option value="' + City.CityId + '">' +
                             City.CityName + '</option>');
                        // here we are adding option for States

                    });
                    $("#CityId").find("option").each(function () {
                        if ($(this).val() == data.CityId) {
                            $(this).attr("selected", "selected");
                        }
                    });
                });
                $("#Address").val(data.Address);
                $("#StatusId").val(data.StatusId);
                $("#FinalComments").val(data.FinalComments);
            }
            else {
                alert("Enquery no is either invalid or already used.");
            }
        });
    }

</script>
<!-- start container -->
<div class="container">

    <!-- registration-form -->
    <div class="registration-form">
        @using (Html.BeginForm("PhysicalEnquiry", "Enquiries", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @if (!string.IsNullOrEmpty(ViewBag.Success))
                {
                    <div class="successvalidation">
                        @ViewBag.Success
                    </div>
                }
                else
                {
                    <div>@Html.ValidationSummary(false)</div>
                }

            </div>
            <h3>Physical Enquiry</h3>
            if (Model.EnquiryId == 0)
            {
                <div class="row">
                    <label for="Password">Has TE :</label>
                    <div class="column">
                        <input type="radio" value="True" onchange="javascript:PEChange(1);" name="PE" id="PE" class="radio">
                        <label for="male">Yes</label>
                        <input type="radio" value="False" checked="checked" onchange="javascript:PEChange(0);" name="PE" id="PE" class="radio">
                        <label for="female">No</label>
                    </div>
                </div>
                <div class="row" id="peid" style="display: none;">
                    <label for="Password">TE ID :</label>
                    @Html.TextBoxFor(x => x.TelephonicEnquiryId, new { @class = "input" })
                    <a href="javascript:void(0)" id="btnGet" onclick="javascript:PopulateTelephonicEnquiry();">Get Details</a>
                </div>
            }
            <div class="row">
                <label for="Password">Source :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.SourceId, new ListBound(Model.SourceId, "Sources").Sources, "-- Select Source --", new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.EnquiryId)
                }
                else
                {
                    @Html.DropDownListFor(x => x.SourceId, new ListBound(Model.SourceId, "Sources").Sources, "-- Select Source --", new { @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">Contact Number :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.TextBoxFor(x => x.ContactNumber, new { @class = "input", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.ContactNumber, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "20" })
                }

            </div>
            <div class="row">
                <label for="Password">Name :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.TextBoxFor(x => x.Name, new { @class = "input", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.Name, new { @class = "input" })
                }
            </div>
            <div class="row">
                <label for="Password">Date of Visit :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.TextBox("DateOfEnquiry1", Model.DateOfEnquiry == null ? "" : Model.DateOfEnquiry.Value.ToString("dd MMM yyyy"), new { @class = "input", @Readonly = "readonly" })
                    @Html.Hidden("DateOfEnquiry", Model.DateOfEnquiry == null ? "" : Model.DateOfEnquiry.Value.ToString("dd MMM yyyy"))
                }
                else
                {
                    @Html.TextBox("DateOfEnquiry", Model.DateOfEnquiry == null ? "" : Model.DateOfEnquiry.Value.ToString("dd MMM yyyy"), new { @class = "input", @Readonly = "readonly" })
                }
            </div>
            <div class="row">
                <label for="Password">Discipline :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.Discipline, new ListBound(Model.Discipline, "Disciplines").Disciplines, "-- Select Discipline --", new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.Discipline)
                }
                else
                {
                    @Html.DropDownListFor(x => x.Discipline, new ListBound(Model.Discipline, "Disciplines").Disciplines, "-- Select Discipline --", new { @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">Probable Student :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.ProbableStudentFor, probablefor, "-- Select --", new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.ProbableStudentFor)
                }
                else
                {
                    @Html.DropDownListFor(x => x.ProbableStudentFor, probablefor, "-- Select --", new { @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">Gender :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.Gender, gendermf, "-- Select --", new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.Gender)
                }
                else
                {
                    @Html.DropDownListFor(x => x.Gender, gendermf, "-- Select --", new { @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">Age :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.TextBoxFor(x => x.Age, new { @class = "input", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.Age, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "2" })
                }

            </div>
            <div class="row">
                <label for="Password">Occupation :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.TextBoxFor(x => x.Occupation, new { @class = "input", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(x => x.Occupation, new { @class = "input" })
                }

            </div>
            <div class="row">
                <label for="Password">Attended By :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.AttendedBy, new ListBound(Model.AttendedBy, "Users").Users, "-- Select User --", new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.AttendedBy)
                }
                else
                {
                    @Html.DropDownListFor(x => x.AttendedBy, new ListBound(Model.AttendedBy, "Users").Users, "-- Select User --", new { @class = "select" })
                }
            </div>

            <div class="row">
                <label for="Password">State :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.StateId, new ListBound(Model.StateId, "States").States, "-- Select State --", new { onchange = "javascript:GetCitiesByStateId();", @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.StateId)
                }
                else
                {
                    @Html.DropDownListFor(x => x.StateId, new ListBound(Model.StateId, "States").States, "-- Select State --", new { onchange = "javascript:GetCitiesByStateId();", @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">City :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.CityId, Enumerable.Empty<SelectListItem>(), new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.CityId)
                }
                else
                {
                    @Html.DropDownListFor(x => x.CityId, Enumerable.Empty<SelectListItem>(), new { @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">Address :</label>
                @Html.TextAreaFor(x => x.Address, new { @class = "textarea" })
            </div>
            if (Model.EnquiryId != 0)
            {
                <div class="row">
                    <label for="Password">Demo :</label>
                    <div class="column">
                        <label for="male">@(Model.Demo == true ? "Yes" : "No")</label>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <label for="Password">Demo :</label>
                    <div class="column">
                        @Html.RadioButtonFor(x => x.Demo, true, new { @class = "radio", onchange = "javascript:DemoChange(1);" })
                        <label for="male">Yes</label>
                        @Html.RadioButtonFor(x => x.Demo, false, new { @class = "radio", onchange = "javascript:DemoChange(0);" })
                        <label for="female">No</label>
                    </div>
                </div>
            }
            <div class="row" id="demoid" style="@(Model.Demo == false ? "display:none;" : "")">
                <label for="Password">Faculty :</label>
                @if (Model.EnquiryId != 0)
                {
                    @Html.DropDownListFor(x => x.FacultyID, new ListBound(Model.FacultyID, "Faculties").Faculties, "-- Select Faculty --", new { @class = "select", @disabled = "disabled" })
                    @Html.HiddenFor(x => x.FacultyID);
                }
                else
                {
                    @Html.DropDownListFor(x => x.FacultyID, new ListBound(Model.FacultyID, "Faculties").Faculties, "-- Select Faculty --", new { @class = "select" })
                }
            </div>
            <div class="row">
                <label for="Password">Remarks By Faculty :</label>
                @Html.TextAreaFor(x => x.RemarksByFaculty, new { @class = "textarea" })
            </div>
            <div class="row">
                <label for="Password">No of Classes :</label>
                @Html.TextBoxFor(x => x.NoOfClasses, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "3" })
            </div>
            <div class="row">
                <label for="Password">Packages :</label>
                @Html.TextBoxFor(x => x.Package, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "15" })
            </div>
            <div class="row">
                <label for="Password">Registration :</label>
                @Html.TextBoxFor(x => x.RegistrationAmount, new { @class = "input", @onkeypress = "return isNumberKey(event)", @maxlength = "15" })
            </div>
            <div class="row">
                <label for="Password">Status :</label>
                @Html.DropDownListFor(x => x.StatusId, status, "-- Select Status --", new { @class = "select" })
            </div>
            <div class="row">
                <label for="Password">Remarks :</label>
                @Html.TextAreaFor(x => x.FinalComments, new { @class = "textarea" })
            </div>
            <div class="row">
                <label for="IsActive">Is Active</label>
                <div class="column">
                    @Html.CheckBoxFor(x => x.IsActive, new { @class = "checkbox" })
                </div>
            </div>
            <div class="rowbutton">
                <input type="submit" id="btnSubmit" value="Submit" class="submit-btn gap" />
                <input name="button" type="button" value="Cancel" class="submit-btn" onclick="javascript: RedirectToHome();" />
            </div>

        }
    </div>

</div>
