@model ViewModel.ReportViewModel
@using Code;
@{
    ViewBag.Title = "Enroll Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/jquery-ui.js"></script>
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var date = new Date();
        date.setMonth(date.getMonth(), 1);
        $("#FromDate").datepicker({ dateFormat: "dd M yy", minDate: "-2m", defaultDate: date });
        $("#ToDate").datepicker({ dateFormat: "dd M yy", minDate: "-1m", maxDate: "d", defaultDate: date });

    });

    function ShowRecords() {
        window.location.href = '@Url.Action("EnrollmentStudentList", "Report")?fromdate=' + $("#FromDate").val() + '&todate=' + $("#ToDate").val();
    }
</script>

<div class="container">
    <!-- table-info -->

    <div class="table-info">
        <!-- start table-form -->

        <div class="table-form">
            <form action="#">
                <label for="Password">From Date: </label>
                @Html.TextBoxFor(x => x.FromDate, new { @class = "input", @readonly = "readonly" })
                <label for="From">To Date</label>
                @Html.TextBoxFor(x => x.ToDate, new { @class = "input", @readonly = "readonly" })
                <input name="button" type="button" value="Show Report" class="submit-btn" onclick="javascript: ShowRecords();" />
            </form>
        </div>

        <div class="table-form">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Enrollment Date</td>
                    <td class="td">Enrollment Number</td>
                    <td class="td">Name</td>
                    <td class="td">Contact No</td>
                    <td class="td">Email ID</td>
                    <td class="td">Discipline</td>
                    <td class="td">Course Amount</td>
                    <td class="td">No Of Classes</td>
                    <td class="td">Start Date</td>
                    <td class="td">End Date</td>
                    @*<td class="td">Notify</td>*@
                </tr>
                <!-- end row -->
                @foreach (System.Data.DataRow v in Model.ReportDataset.Tables[0].Rows)
                {
                    <!-- start row -->
                    <tr>
                        <td class="td">@v["CreatedDate"]</td>
                        <td class="td">@v["UniqueKey"]</td>
                        <td class="td">@v["Name"]</td>
                        <td class="td">@v["Contact1"]</td>
                        <td class="td">@v["EmailAddress"]</td>
                        <td class="td">@v["Discipline"]</td>
                        <td class="td">@String.Format("{0:0.##}", v["CourseAmount"])</td>
                        <td class="td">@v["NoOfClasses"]</td>
                        <td class="td">@v["SatrtDate"]</td>
                        <td class="td">@v["EndDate"]</td>
                        @*<td class="td">
                            <a href="javascript:void(0)" onclick="SendSMS('@v["Contact1"]','@((int)Message.Enrolled)','@false','s')">Sms</a>
                            | <a href="javascript:void(0)" onclick="SendMail('@v["EmailAddress"]','@((int)Message.Enrolled)','@false','m')">Mail</a>
                        </td>*@
                    </tr>
                }
                @{if (Model.ReportDataset.Tables[0].Rows.Count == 0)
                {
                    <tr class="row">
                        <td class="td" style="text-align: center">No record found.</td>
                    </tr>

                }}
            </table>
            @Html.Partial("_Paging")
        </div>

    </div>

</div>
