@model ViewModel.ReportViewModel
@using Code;
@{
    ViewBag.Title = "Payment Detail List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
            <form action="#">
                @Html.DropDownList("month", (typeof(Months).SelectList<Months>(true)), "-- Month --", new { @class = "input" })
                @*@Html.DropDownList("year", new SelectList(ViewBag.FinancialYears), "-- Year --", new { @class = "input" })*@
                <input type="submit" value="Show Report" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->

        <div style="float:left;width:100%">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Enrollment Number</td>
                    <td class="td">Name</td>
                    <td class="td">Discipline</td>
                    <td class="td">Balance</td>
                    <td class="td">Due Date</td>
                    <td class="td">Notify</td>
                </tr>
                <!-- end row -->
                @foreach (System.Data.DataRow v in Model.ReportDataset.Tables[0].Rows)
                {
                    <!-- start row -->
                    <tr>
                        <td class="td">@v["UniqueKey"]</td>
                        <td class="td">@v["Name"]</td>
                        <td class="td">@v["Discipline"]</td>
                        <td class="td">@String.Format("{0:0.##}", v["Balance"])</td>
                        <td class="td">@v["DueDate"]</td>
                        <td class="td">
                            <a href="javascript:void(0)" onclick="SendSMS('@v["UniqueKey"]','@((int)Message.PaymentPending)','@false','s')">Sms</a>
                            @*|<a href="javascript:void(0)" onclick="SendMail('mohitdagar80@gmail.com','@((int)Message.PaymentPending)','@false','m')">Mail</a>*@
                        </td>
                    </tr>

                    <!-- end row -->
                }
                @{if (Model.ReportDataset.Tables[0].Rows.Count == 0)
                {
                    <tr class="row">
                        <td class="td" style="text-align: center">No record found.</td>
                    </tr>

                }}
            </table>
            @*@Html.Partial("_Paging")*@
        </div>
    </div>
    <!-- end table -->
</div>
