@model IEnumerable<Models.ExamDetails>
@{
    ViewBag.Title = "AllExamDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function AddNew() {
        window.location.href = '@Url.Action("AddExamDetails", "Exams")';
    }
</script>

<div class="container">
    <!-- table-info -->
    <div class="table-info">
        <!-- start table-form -->
        <div class="table-form">
            <form action="#">
                <input type="text" name="search" placeholder="Search" class="input" />
                <input type="submit" value="Search" class="submit-btn" />
                <label for="From">&nbsp;</label>
                <input name="submit" type="button" onclick="AddNew()" value="Add New" class="submit-btn" />
            </form>
        </div>
        <!-- end table-form -->
        <!-- start table -->

        <div style="float: left; width: 100%">
            <table cellpadding="0" cellspacing="0" class="table">
                <!-- start row -->
                <tr bgcolor="#ccc">
                    <td class="td">Enrollment No.</td>
                    <td class="td">Student Name</td>
                    <td class="td">Exam Name</td>
                    <td class="td">Exam Date</td>
                    <td class="td">Faculty Name</td>
                    <td class="td">Exam Fees</td>
                    <td class="td">Comments</td>
                    <td class="td">Result</td>
                    <td class="td">Action</td>
                </tr>
                <!-- end row -->
                @foreach (var v in Model)
                {
                    <!-- start row -->
                    <tr>
                        <td class="td">@v.EnrollmentNo</td>
                        <td class="td">@v.StudentName</td>
                        <td class="td">@v.ExamName</td>
                        <td class="td">@string.Format("{0:dd MMM yyyy}", v.ExamDate)</td>
                        <td class="td">@v.FacultyName</td>
                        <td class="td">@v.ExamFees</td>
                        <td class="td">@v.Comments</td>
                        <td class="td">@v.ResultOfExam</td>
                        <td class="td">
                            @{ var days = (DateTime.Now - v.ModifiedOn.Value).TotalDays;}
                            @if (days <= 20)
                            {
                                <a href="@Url.Action("AddExamDetails", "Exams", new { ExamID = v.ExamID })" title="Edit">Edit</a>
                            }
                        </td>
                    </tr>

                    <!-- end row -->
                }
                @{if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="9" class="td" style="text-align: center">No record found.</td>
                    </tr>
                }}
            </table>
            @Html.Partial("_Paging")
        </div>
    </div>
    <!-- end table -->
</div>

