@using Code;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Content/JS/jquery-1.11.1.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/loginstyle.css" rel="stylesheet" />

    <link href="~/Content/css/colorbox.css" rel="stylesheet" />
    <script src="~/Content/js/Jquery.validate.js"></script>
    <script src="~/Content/js/jquery.validate.unobtrusive.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" media="screen" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <script>
        function AsignCenterIdSessionValue() {

            $.post('@Url.Action("FillCenterIdSession", "Main")', { CentreId: $("#indexcentreid").val() });
        }
    </script>
</head>
<body>

    <!-- start box -->
    <div class="box">
        <!-- start header -->
        <div class="header">
            <!-- start logo -->
            <div class="logo">
                <a href="index.html" title="Svar Vandana">
                    <img src="~/Content/images/logo.png" alt="Svar Vandana" />
                </a>
            </div>
            <!-- end logo -->
            <!-- start header-right -->
            <div class="header-right">
                <!-- start top-bar -->
                <div class="top-bar">
                    <ul>

                        <li><a href="#" title="User" style="min-width: 115px">@SessionWrapper.User.FirstName&nbsp;@SessionWrapper.User.LastName</a></li>
                        <li><a href="@Url.Action("LogOut", "Home")">Logout</a></li>

                    </ul>
                </div>
                <form action="#">
                    @if (SessionWrapper.User.RoleId == (int)UserRole.SuperAdmin)
                    {
                        @Html.DropDownList("ddlCenters", new ListBound(SessionWrapper.User.CentreId, "Centres").Centres, new { onchange = "UpdateCenter(this);", @class = "select", style = " width: 234px !important;" })
                    }
                    else
                    {
                        @Html.DropDownList("ddlCenters", new ListBound(SessionWrapper.User.CentreId, "Centres").Centres, new { onchange = "UpdateCenter(this);", @class = "select", @disabled = "disabled", style = " width: 234px !important;" })
                    }
                </form>
                <!-- end top-bar -->

            </div>
            <!-- end header-right -->
            @*@if (SessionWrapper.User.RoleId == 3)
                {*@
            <!-- start navigation -->
            <div class="navigation">
                <ul>
                    <li><a href="@Url.Action("Index", "Main")">Home</a></li>
                    <li>
                        <a href="#" title="Masters">Masters</a>
                        <ul>
                            <li><a href="@Url.Action("ChangePassword", "Main")">Change Password</a></li>
                            @if (SessionWrapper.User.RoleId == (int)UserRole.SuperAdmin)
                            {
                                <li><a href="@Url.Action("CentreList", "Main")">Centre Management</a></li>
                                <li><a href="@Url.Action("AddSource", "Main")">Add Source</a></li>
                                <li><a href="@Url.Action("ManageDiscipline", "Main")">Discipline Management</a></li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="Enquiries">Enquiries</a>
                        <ul>
                            <li><a href="@Url.Action("TelephonicEnquiryList", "Enquiries")">Telephonic Enquiry</a></li>
                            <li><a href="@Url.Action("PhysicalEnquiryList", "Enquiries")">Physical Enquiry</a></li>
                        </ul>
                    </li>
                    @if (SessionWrapper.User.RoleId > (int)UserRole.User)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Main")">Class Management</a>
                            <ul>
                                <li><a href="@Url.Action("ClassDetailsList", "Class")">Class Details</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("Index", "Main")">Student Management</a>
                        <ul>
                            <li><a href="@Url.Action("AllStudents", "Student")">View Students</a></li>
                            <li><a href="@Url.Action("EntrollStudent", "Student")">Enroll Student</a></li>
                            <li><a href="@Url.Action("MakeAttendence", "Student")">Student Attendence</a></li>
                        </ul>
                    </li>
                    @if (SessionWrapper.User.RoleId > (int)UserRole.User)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Main")">Admin</a>
                            <ul>
                                <li><a href="@Url.Action("GetFaculityList", "Faculty")">Faculty Management</a></li>
                                <li><a href="@Url.Action("UserList", "Main")">User Management</a></li>
                                <li><a href="@Url.Action("PayemntDetails", "Student")">Payment Details</a></li>
                            </ul>

                        </li>
                    }

                    <li>
                        <a href="@Url.Action("Index", "Main")">Budget Management</a>
                        <ul>
                            <li><a href="@Url.Action("BudgetList", "Budget")">View Budget</a></li>
                            <li><a href="@Url.Action("ExpenseList", "Budget")">View Expenses</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
            <!-- end navigation -->
            @*}
                else if (SessionWrapper.User.RoleId == 2)
                {

                }
                else
                {

                }*@
        </div>
        <!-- end header -->
        <!-- start container -->
        @RenderBody()
        <!-- end container -->
    </div>
    <!-- end box --->
    <!-- start footer -->
    <div class="footer">
        <!-- start box -->
        <div class="box">
            Copyright &copy; 2014
        </div>
        <!-- end box -->
    </div>
    <!-- end footer -->
</body>
</html>
<script type="text/javascript">
    function UpdateCenter(o) {
        var centerId = $(o).val();

        $.ajax({
            url: '@Url.Action("UpdateCenter", "Home")?centerId=' + centerId + "&number=" + Math.random(),
            async: false,
            context: document.body
        }).done(function () {
        });

        @*$.get('@Url.Action("UpdateCenter", "Home")?centerId=' + centerId + "&number=" + Math.random(), function (data) { });*@
        window.location.href = window.location.pathname;

    }

</script>
