@model ViewModel.UsersViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Swar Vandana Forword : Send Password</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/loginstyle.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie7.css" media="screen" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->

    <style>
        .alert-success {
            background: green;            
            margin-bottom: 4px;
        }

        .alert-danger {
            background: red;            
            margin-bottom: 4px;
        }
    </style>
</head>
<body class="login-page">
    <!-- start box -->
    <div class="box">
        <!-- start header -->
        <div class="header">
            <!-- start logo -->
            <div class="logo">
                <a href="@Url.Action("Index","Home")" title="Svar Vandana">
                    <img src="~/Content/images/logo.png" alt="Svar Vandana" />
                </a>
            </div>
            <!-- end logo -->
        </div>
        <!-- end header -->
        <!-- atsrt container -->
        <div class="container">
            <!-- start login-box -->
            <div class="login-box">
                <div class="top">
                    <div class="login-tag"></div>
                </div>
                <!-- content -->
                <div class="content">
                    <h3>Happiness@@ Music</h3>
                    @using (Html.BeginForm())
                    {
                        if (!string.IsNullOrEmpty(ViewBag.Success))
                        {
                            <div class="alert-success">@ViewBag.Success</div>
                        }
                        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                        {
                            <div class="alert-danger">@ViewBag.ErrorMessage</div>
                        }
                        @*<div>ViewBag.Message</div>*@
                        <div class="form">
                            <div class="row">
                                @Html.TextBox("UserName", "", new { @class = "input", @PlaceHolder = "Enter UserName" })
                            </div>
                        </div>
                        <input type="submit" id="btnLogin" value="Send Password" class="button" />
                    }
                </div>
                <!-- content -->
            </div>
        </div>
        <!-- end container -->
    </div>
    <!-- end box -->
</body>
</html>

@*<script type="text/javascript">
        function GetPassword() {
            var uName = $("#uName").val();
            if (uName != '') {
                $.ajax({
                    url: '@Url.Action("SendPassword","Home")?username=' + uName,
                    context: document.body,
                    Async: false
                }).done(function (data) {
                    alert(data);
                    $("#uName").val('');
                });
            }
            else
                alert("Please enter userName");
        }

    </script>*@
